body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 34, 27);
    color: rgb(255, 255, 255);
    

}
.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  
    
}
.pokemonBox{
    border: solid white 1px;
    box-shadow: 2px 2px 2px 2px rgb(145, 143, 143);
    text-align: center;
    width: 200px;
}
.pokemonBox img{
    height: 120px;
}
