.App {
  padding-top: 4rem;
  min-height: 100vh;
}
img .Sprite{
  height: 5rem !important;
  width: 5rem !important;
}
.navbar{
  margin-bottom: 20px;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}
